/* #007bff */

table, form {
    border: 1px solid #007bff;
    padding: 10px;
}

thead {
    font-weight: bold;
}

.section-head {
    background-color: #007bff;
    padding: 5px;
    width: 100%;
}

.spacing {
    margin-bottom: 20px;
}